/* Variables */

:root {

    --clr-white: hsl(0, 0%, 100%);
    --clr-background: hsl(212, 46%, 89%);
    --clr-primary-dark: hsl(217, 45%, 22%);
    --clr-primary-light: hsl(220, 15%, 55%);

    --ff-sans: 'Outfit', sans-serif;

}